doctype html
html(lang="en")
    head
        title=meta.title
        meta(name='viewport', content='width=device-width,initial-scale=1')
        meta(name='description', content=meta.excerpt)
        link(rel="alternate" type="application/rss+xml" href="/rss.xml")
        link(rel="alternate" type="application/feed+json" href="/rss.json")
        link(rel="alternate" type="application/atom+xml" href="/rss.atom")
        link(href='/assets/style.css?v=' + meta.unique, rel='stylesheet')
        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='apple-touch-icon-precomposed', href='/assets/icons/icon-96x96.png', sizes='96x96')
        link(rel='apple-touch-icon-precomposed', href='/assets/icons/icon-144x144.png', sizes='144x144')
        link(rel='apple-touch-icon-precomposed', href='/assets/icons/icon-256x256.png', sizes='256x256')
        link(rel='apple-touch-icon-precomposed', href='/assets/icons/icon-512x512.png', sizes='512x512')
        script(async defer data-domain="nowicki.io" src="https://stats.nowicki.io/js/index.js")
    body !{content}
