:root {
  --fonts-default: Raleway, sans-serif;
  --fonts-headline: Vollkorn, serif;
  --fonts-headlines-sc: Vollkorn SC, serif;
  --font-weight-normal: 500;
  --font-weight-headline: 600;

  --color-base: #212121;
  --color-standout: #000;
  --color-background: #f9f9f9;
  --color-invert: #fff;
  --color-invert-background: #000;

  --space-max-text-flow: 65ch;
}

@mixin underline {
  text-decoration: underline;
  text-underline-position: from-font;
}
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.6em;
  font-family: var(--fonts-default);
  font-weight: var(--font-weight-normal);
  color: var(--color-base);
  background: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fonts-headline);
  font-weight: var(--font-weight-headline);
  line-height: 1.2em;
  margin: 4rem 0 1rem;
  color: var(--color-standout);

  a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

a {
  color: #15b9c7;
  @include underline;
}

h1 {
  font-size: 4rem;
  @include underline
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin: 1em 0;
}

video {
  max-width: 100%;
}

.posts-list, .lead, .blog-post {
  max-width: var(--space-max-text-flow);
  margin: 0 auto;
  padding: 1rem;
}

.posts-list {
  list-style: none;
  display: block;
}

.lead {
  padding: 4rem 1rem;

  h1 {
    margin-top: 0;
  }
}

.header-separator {
  @include underline;
  font-family: var(--fonts-headlines-sc);
  text-align: center;
  padding: 1em 0;
  background: var(--color-invert-background);
  color: var(--color-invert);
  text-transform: uppercase;
  text-decoration-line: overline;
  margin: 1rem 0;
}
